<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StockManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StockManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Context" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|DataBase.sdf" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <StockManager.Properties.Settings>
      <setting name="AllowedFileExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.eps</string>
            <string>.ai</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IconDirectoryName" serializeAs="String">
        <value>Icons</value>
      </setting>
      <setting name="BackgroundDirectoryName" serializeAs="String">
        <value>Backgrounds</value>
      </setting>
      <setting name="SetsDirectory" serializeAs="String">
        <value>Sets</value>
      </setting>
      <setting name="NameTemplatesInfo" serializeAs="String">
        <value>For templates there are several patterrns:

theme - Theme name (capitalized)
themeLowerCase - Theme name (lower case)
keywords - comma separated keywords
keywordCount - number of keywords in composition
icons - comma separated icon names (in database not file names)
iconCount - number of icons in composition
keywordsRandom:n - comma separated random keywords - n is for number

All patterns must be enclosed in square brackets. Example:
Icon set about [themeLowerCase] with keywords: [keywordsRandom:6]</value>
      </setting>
    </StockManager.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <StockManager.Properties.Settings>
      <setting name="NameTemplates" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="DocWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DocHeight" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DefaultKeywords" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>icon</string>
            <string>vector</string>
            <string>illustration</string>
            <string>set</string>
            <string>pictogram</string>
            <string>symbol</string>
            <string>sign</string>
            <string>design</string>
            <string>art</string>
          </ArrayOfString>
        </value>
      </setting>
    </StockManager.Properties.Settings>
  </userSettings>
</configuration>