<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">
  <targets async="true">
    <default-wrapper xsi:type="RetryingWrapper"/>
    <target xsi:type="Database" name="database" connectionStringName="Context">
      <commandText>
        INSERT INTO [LogEntries] (
          [CallSite],
          [Date],
          [Exception],
          [Level],
          [Logger],
          [MachineName],
          [Message],
          [StackTrace],
          [Thread],
          [Username]
        )
        VALUES (
          @CallSite,
          @Date,
          @Exception,
          @Level,
          @Logger,
          @MachineName,
          @Message,
          @StackTrace,
          @Thread,
          @Username
        );
      </commandText>
      <parameter name="@CallSite"    layout="${callsite:filename=true}"/>
      <parameter name="@Date"        layout="${longdate}"/>
      <parameter name="@Exception"   layout="${exception}"/>
      <parameter name="@Level"       layout="${level}"/>
      <parameter name="@Logger"      layout="${logger}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@Message"     layout="${message}"/>
      <parameter name="@StackTrace"  layout="${stacktrace}"/>
      <parameter name="@Thread"      layout="${threadid}"/>
      <parameter name="@Username"    layout="${windows-identity:domain=true}"/>
    </target>
    <target name="file" xsi:type="File" fileName="${basedir}/trace.log" layout="[${level}] ${longdate} : ${callsite} : ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="database"/>
  </rules>
</nlog>
